:root {
  --primary_light: #58a7c8;
  --primary_light_bg: #58a7c8;
  --primary_light_border: #58a7c8;
  --primary_light_txt: #58a7c8;
  --primary_light_link: #58a7c8;
  --primary_light_fill: #58a7c8;
  --primary: #1080b0;
  --primary_bg: #1080b0;
  --primary_border: #1080b0;
  --primary_txt: #1080b0;
  --primary_link: #1080b0;
  --primary_fill: #1080b0;
  --primary_dark: #0b5a7b;
  --primary_dark_bg: #0b5a7b;
  --primary_dark_border: #0b5a7b;
  --primary_dark_txt: #0b5a7b;
  --primary_dark_link: #0b5a7b;
  --primary_dark_fill: #0b5a7b;
  --secondary_light: #888888;
  --secondary_light_bg: #888888;
  --secondary_light_border: #888888;
  --secondary_light_txt: #888888;
  --secondary_light_link: #888888;
  --secondary_light_fill: #888888;
  --secondary: #6a6a6a;
  --secondary_bg: #6a6a6a;
  --secondary_border: #6a6a6a;
  --secondary_txt: #6a6a6a;
  --secondary_link: #6a6a6a;
  --secondary_fill: #6a6a6a;
  --secondary_dark: #545454;
  --secondary_dark_bg: #545454;
  --secondary_dark_border: #545454;
  --secondary_dark_txt: #545454;
  --secondary_dark_link: #545454;
  --secondary_dark_fill: #545454;
  --c-scale-1: #101010;
  --c-scale-1_bg: #101010;
  --c-scale-1_border: #101010;
  --c-scale-1_txt: #101010;
  --c-scale-1_link: #101010;
  --c-scale-1_fill: #101010;
  --c-scale-2: #1d1d1d;
  --c-scale-2_bg: #1d1d1d;
  --c-scale-2_border: #1d1d1d;
  --c-scale-2_txt: #1d1d1d;
  --c-scale-2_link: #1d1d1d;
  --c-scale-2_fill: #1d1d1d;
  --c-scale-3: #2a2a2a;
  --c-scale-3_bg: #2a2a2a;
  --c-scale-3_border: #2a2a2a;
  --c-scale-3_txt: #2a2a2a;
  --c-scale-3_link: #2a2a2a;
  --c-scale-3_fill: #2a2a2a;
  --c-scale-4: #3b3b3b;
  --c-scale-4_bg: #3b3b3b;
  --c-scale-4_border: #3b3b3b;
  --c-scale-4_txt: #3b3b3b;
  --c-scale-4_link: #3b3b3b;
  --c-scale-4_fill: #3b3b3b;
  --c-scale-5: #4a4a4a;
  --c-scale-5_bg: #4a4a4a;
  --c-scale-5_border: #4a4a4a;
  --c-scale-5_txt: #4a4a4a;
  --c-scale-5_link: #4a4a4a;
  --c-scale-5_fill: #4a4a4a;
  --c-scale-6: #5d5d5d;
  --c-scale-6_bg: #5d5d5d;
  --c-scale-6_border: #5d5d5d;
  --c-scale-6_txt: #5d5d5d;
  --c-scale-6_link: #5d5d5d;
  --c-scale-6_fill: #5d5d5d;
  --c-scale-7: #888888;
  --c-scale-7_bg: #888888;
  --c-scale-7_border: #888888;
  --c-scale-7_txt: #888888;
  --c-scale-7_link: #888888;
  --c-scale-7_fill: #888888;
  --c-scale-8: #a1a1a1;
  --c-scale-8_bg: #a1a1a1;
  --c-scale-8_border: #a1a1a1;
  --c-scale-8_txt: #a1a1a1;
  --c-scale-8_link: #a1a1a1;
  --c-scale-8_fill: #a1a1a1;
  --c-scale-9: #bcbcbc;
  --c-scale-9_bg: #bcbcbc;
  --c-scale-9_border: #bcbcbc;
  --c-scale-9_txt: #bcbcbc;
  --c-scale-9_link: #bcbcbc;
  --c-scale-9_fill: #bcbcbc;
  --c-scale-10: #d1d1d1;
  --c-scale-10_bg: #d1d1d1;
  --c-scale-10_border: #d1d1d1;
  --c-scale-10_txt: #d1d1d1;
  --c-scale-10_link: #d1d1d1;
  --c-scale-10_fill: #d1d1d1;
  --c-scale-11: #e2e2e2;
  --c-scale-11_bg: #e2e2e2;
  --c-scale-11_border: #e2e2e2;
  --c-scale-11_txt: #e2e2e2;
  --c-scale-11_link: #e2e2e2;
  --c-scale-11_fill: #e2e2e2;
  --c-scale-12: #f2f2f2;
  --c-scale-12_bg: #f2f2f2;
  --c-scale-12_border: #f2f2f2;
  --c-scale-12_txt: #f2f2f2;
  --c-scale-12_link: #f2f2f2;
  --c-scale-12_fill: #f2f2f2;
  --white: #ffffff;
  --white_bg: #ffffff;
  --white_border: #ffffff;
  --white_txt: #ffffff;
  --white_link: #ffffff;
  --white_fill: #ffffff;
  --black: #000000;
  --black_bg: #000000;
  --black_border: #000000;
  --black_txt: #000000;
  --black_link: #000000;
  --black_fill: #000000;
  --info_light: #6ddeeb;
  --info_light_bg: #6ddeeb;
  --info_light_border: #6ddeeb;
  --info_light_txt: #6ddeeb;
  --info_light_link: #6ddeeb;
  --info_light_fill: #6ddeeb;
  --info: #49d6e6;
  --info_bg: #49d6e6;
  --info_border: #49d6e6;
  --info_txt: #49d6e6;
  --info_link: #49d6e6;
  --info_fill: #49d6e6;
  --info_dark: #3aabb8;
  --info_dark_bg: #3aabb8;
  --info_dark_border: #3aabb8;
  --info_dark_txt: #3aabb8;
  --info_dark_link: #3aabb8;
  --info_dark_fill: #3aabb8;
  --success_light: #88d9ca;
  --success_light_bg: #88d9ca;
  --success_light_border: #88d9ca;
  --success_light_txt: #88d9ca;
  --success_light_link: #88d9ca;
  --success_light_fill: #88d9ca;
  --success: #38bfa7;
  --success_bg: #38bfa7;
  --success_border: #38bfa7;
  --success_txt: #38bfa7;
  --success_link: #38bfa7;
  --success_fill: #38bfa7;
  --success_dark: #278675;
  --success_dark_bg: #278675;
  --success_dark_border: #278675;
  --success_dark_txt: #278675;
  --success_dark_link: #278675;
  --success_dark_fill: #278675;
  --warning_light: #ffd685;
  --warning_light_bg: #ffd685;
  --warning_light_border: #ffd685;
  --warning_light_txt: #ffd685;
  --warning_light_link: #ffd685;
  --warning_light_fill: #ffd685;
  --warning: #ffcc66;
  --warning_bg: #ffcc66;
  --warning_border: #ffcc66;
  --warning_txt: #ffcc66;
  --warning_link: #ffcc66;
  --warning_fill: #ffcc66;
  --warning_dark: #e29900;
  --warning_dark_bg: #e29900;
  --warning_dark_border: #e29900;
  --warning_dark_txt: #e29900;
  --warning_dark_link: #e29900;
  --warning_dark_fill: #e29900;
  --error_light: #db3f71;
  --error_light_bg: #db3f71;
  --error_light_border: #db3f71;
  --error_light_txt: #db3f71;
  --error_light_link: #db3f71;
  --error_light_fill: #db3f71;
  --error: #d41d58;
  --error_bg: #d41d58;
  --error_border: #d41d58;
  --error_txt: #d41d58;
  --error_link: #d41d58;
  --error_fill: #d41d58;
  --error_dark: #b5194b;
  --error_dark_bg: #b5194b;
  --error_dark_border: #b5194b;
  --error_dark_txt: #b5194b;
  --error_dark_link: #b5194b;
  --error_dark_fill: #b5194b;
  --footer: #101010;
  --footer_bg: #101010;
  --footer_border: #3b3b3b;
  --footer_txt: #f2f2f2;
  --footer_link: #1dd5c1;
  --footer_fill: #1a919e;
  --header: #101010;
  --header_bg: #101010;
  --header_border: #3b3b3b;
  --header_txt: #f2f2f2;
  --header_link: #1dd5c1;
  --header_fill: #1a919e;

  /****** Fonts Weight *********/
  --font_weight_lighter: lighter;
  --font_weight_light: 300;
  --font_weight_regular: 400;
  --font_weight_semibold: 600;
  --font_weight_bold: 700;
  --font_weight_bolder: bolder;
  /****** Fonts Family *********/
  --font_primary: 'Source Sans Pro', sans-serif;
  --font_secondary: 'Roboto Slab', serif;
  /****** Fonts Size *********/
  --font_size_1: 12;
  --font_size_2: 14;
  --font_size_3: 16;
  --font_size_4: 18;
  --font_size_5: 22;
  --font_size_6: 26;
  --font_size_7: 32;
  --font_size_8: 48;
  /****** Zoom Variables *********/
  --app-zoom: 1;
  --font-zoom: 1;
  --sh: 1040px;
  --action-menu-position: left;
  --close-poisition: top;
  --decimal-count: 1;
  /****** Borders *********/
  --border_width: 1px;
  --border_color_base: var(--c-scale-3);
  --border_radius_none: 0px;
  --border_radius: 4px;
  --border_radius_sm: 4.8px;
  --border_radius_lg: 9.6px;
  --border_radius_rounded: 800px;
  /*BUTTONS BORDER*/
  --border_button_sm: var(--border_radius_sm);
}
