@import '../../../scss/utilities/tbu';
@import '../../../scss/variables';

//Apply fade animation to the thumbs
@mixin fadeAnimation($visibility, $opacity) {
  .scrollbar-container {
    .scrollbar-container--fake-scrollbarY {
      &.onHoverWithTrack {
        visibility: visible;
        opacity: 1;
      }
      .scrollbar-container--fake-scrollbarY__thumb:not(.onAlways, :hover, :focus, :active) {
        visibility: $visibility;
        opacity: $opacity;
      }
    }
    .scrollbar-container--fake-scrollbarX {
      &.onHoverWithTrack {
        visibility: visible;
        opacity: 1;
      }
      .scrollbar-container--fake-scrollbarX__thumb:not(.onAlways, :hover, :focus, :active) {
        visibility: $visibility;
        opacity: $opacity;
      }
    }
  }
}

//Common thumb style
@mixin commonThumb($thumbColor) {
  position: absolute;
  background: $thumbColor;
  border-radius: var(--thumb-border-radius);
  transition: visibility 0.5s, opacity 0.5s;

  &:not(.onAlways) {
    visibility: hidden;
    opacity: 0;
  }

  &:hover,
  &:active {
    transition: none;
    visibility: visible;
    opacity: 1;
  }
  &:hover {
    background: var(--thumb-hover-color);
  }
  &:active {
    background: var(--thumb-active-color);
  }
}

:host {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.zoneToScroll {
  display: block;
  height: calc(100% - var(--scrollSpace));
  width: calc(100% - var(--scrollSpace));
  box-sizing: border-box;
  position: relative;
  padding: var(--padding);
  &:hover,
  &:focus,
  &:active {
    @include fadeAnimation(visible, 0.7);
  }
  .scrollbar-container {
    height: var(--scrollHeight);
    max-height: 100%;
    overflow: auto;
    outline: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &--fake-scrollbarY {
      justify-content: center;
      height: 100%;
      width: var(--track-width);
      position: absolute;
      top: 0;
      right: calc(0px + var(--margin-gap));
      background-color: var(--track-color);
      border-radius: var(--track-border-radius);

      &.onHover {
        visibility: hidden;
      }

      &.onHoverWithTrack {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;
      }

      &__thumb {
        height: var(--thumbSizeY);
        width: var(--thumb-width);
        top: 0;
        @include commonThumb(var(--thumb-color));
      }

      &:hover {
        background-color: var(--track-hover-color);
        .scrollbar-container--fake-scrollbarY__thumb {
          @include commonThumb(var(--thumb-hover-color));
        }
      }
      &:active {
        background-color: var(--track-active-color);
      }
    }
    &--fake-scrollbarX {
      align-items: center;
      height: var(--track-width);
      width: 100%;
      position: absolute;
      left: 0;
      bottom: calc(0px + var(--margin-gap));
      background-color: var(--track-color);
      border-radius: var(--track-border-radius);

      &.onHover {
        visibility: hidden;
      }

      &.onHoverWithTrack {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;
      }

      &__thumb {
        height: var(--thumb-width);
        width: var(--thumbSizeX);
        left: 0;
        @include commonThumb(var(--thumb-color));
      }
      &:hover {
        background-color: var(--track-hover-color);
        .scrollbar-container--fake-scrollbarX__thumb {
          @include commonThumb(var(--thumb-hover-color));
        }
      }
      &:active {
        background-color: var(--track-active-color);
      }
    }
  }
}

.disabled {
  pointer-events: none;
  overflow: hidden;
}
