.svg-fill-primary_light,
#svg-fill-primary_light {
  fill: var(--primary_light_fill);
  path {
    fill: var(--primary_light_fill);
  }
}

.svg-fill-primary,
#svg-fill-primary {
  fill: var(--primary_fill);
  path {
    fill: var(--primary_fill);
  }
}

.svg-fill-primary_dark,
#svg-fill-primary_dark {
  fill: var(--primary_dark_fill);
  path {
    fill: var(--primary_dark_fill);
  }
}

.svg-fill-secondary_light,
#svg-fill-secondary_light {
  fill: var(--secondary_light_fill);
  path {
    fill: var(--secondary_light_fill);
  }
}

.svg-fill-secondary,
#svg-fill-secondary {
  fill: var(--secondary_fill);
  path {
    fill: var(--secondary_fill);
  }
}

.svg-fill-secondary_dark,
#svg-fill-secondary_dark {
  fill: var(--secondary_dark_fill);
  path {
    fill: var(--secondary_dark_fill);
  }
}

.svg-fill-c-scale-1,
#svg-fill-c-scale-1 {
  fill: var(--c-scale-1_fill);
  path {
    fill: var(--c-scale-1_fill);
  }
}

.svg-fill-c-scale-1,
#svg-fill-c-scale-1 {
  fill: var(--c-scale-1_fill);
  path {
    fill: var(--c-scale-1_fill);
  }
}

.svg-fill-c-scale-1,
#svg-fill-c-scale-1 {
  fill: var(--c-scale-1_fill);
  path {
    fill: var(--c-scale-1_fill);
  }
}

.svg-fill-c-scale-1,
#svg-fill-c-scale-1 {
  fill: var(--c-scale-1_fill);
  path {
    fill: var(--c-scale-1_fill);
  }
}

.svg-fill-c-scale-2,
#svg-fill-c-scale-2 {
  fill: var(--c-scale-2_fill);
  path {
    fill: var(--c-scale-2_fill);
  }
}

.svg-fill-c-scale-3,
#svg-fill-c-scale-3 {
  fill: var(--c-scale-3_fill);
  path {
    fill: var(--c-scale-3_fill);
  }
}

.svg-fill-c-scale-4,
#svg-fill-c-scale-4 {
  fill: var(--c-scale-4_fill);
  path {
    fill: var(--c-scale-4_fill);
  }
}

.svg-fill-c-scale-5,
#svg-fill-c-scale-5 {
  fill: var(--c-scale-5_fill);
  path {
    fill: var(--c-scale-5_fill);
  }
}

.svg-fill-c-scale-6,
#svg-fill-c-scale-6 {
  fill: var(--c-scale-6_fill);
  path {
    fill: var(--c-scale-6_fill);
  }
}

.svg-fill-c-scale-7,
#svg-fill-c-scale-7 {
  fill: var(--c-scale-7_fill);
  path {
    fill: var(--c-scale-7_fill);
  }
}

.svg-fill-c-scale-8,
#svg-fill-c-scale-8 {
  fill: var(--c-scale-8_fill);
  path {
    fill: var(--c-scale-8_fill);
  }
}

.svg-fill-c-scale-9,
#svg-fill-c-scale-9 {
  fill: var(--c-scale-9_fill);
  path {
    fill: var(--c-scale-9_fill);
  }
}

.svg-fill-c-scale-10,
#svg-fill-c-scale-10 {
  fill: var(--c-scale-10_fill);
  path {
    fill: var(--c-scale-10_fill);
  }
}

.svg-fill-c-scale-11,
#svg-fill-c-scale-11 {
  fill: var(--c-scale-11_fill);
  path {
    fill: var(--c-scale-11_fill);
  }
}

.svg-fill-c-scale-12,
#svg-fill-c-scale-12 {
  fill: var(--c-scale-12_fill);
  path {
    fill: var(--c-scale-12_fill);
  }
}

.svg-fill-info_light,
#svg-fill-info_light {
  fill: var(--info_light_fill);
  path {
    fill: var(--info_light_fill);
  }
}

.svg-fill-info,
#svg-fill-info {
  fill: var(--info_fill);
  path {
    fill: var(--info_fill);
  }
}

.svg-fill-info_dark,
#svg-fill-info_dark {
  fill: var(--info_dark_fill);
  path {
    fill: var(--info_dark_fill);
  }
}

.svg-fill-success_light,
#svg-fill-success_light {
  fill: var(--success_light_fill);
  path {
    fill: var(--success_light_fill);
  }
}

.svg-fill-success,
#svg-fill-success {
  fill: var(--success_fill);
  path {
    fill: var(--success_fill);
  }
}

.svg-fill-success_dark,
#svg-fill-success_dark {
  fill: var(--success_dark_fill);
  path {
    fill: var(--success_dark_fill);
  }
}

.svg-fill-warning_light,
#svg-fill-warning_light {
  fill: var(--warning_light_fill);
  path {
    fill: var(--warning_light_fill);
  }
}

.svg-fill-warning,
#svg-fill-warning {
  fill: var(--warning_fill);
  path {
    fill: var(--warning_fill);
  }
}

.svg-fill-warning_dark,
#svg-fill-warning_dark {
  fill: var(--warning_dark_fill);
  path {
    fill: var(--warning_dark_fill);
  }
}

.svg-fill-error_light,
#svg-fill-error_light {
  fill: var(--error_light_fill);
  path {
    fill: var(--error_light_fill);
  }
}

.svg-fill-error,
#svg-fill-error {
  fill: var(--error_fill);
  path {
    fill: var(--error_fill);
  }
}

.svg-fill-error_dark,
#svg-fill-error_dark {
  fill: var(--error_dark_fill);
  path {
    fill: var(--error_dark_fill);
  }
}

.svg-fill-black,
#svg-fill-black {
  fill: var(--black_fill);
  path {
    fill: var(--black_fill);
  }
}

.svg-fill-white,
#svg-fill-white {
  fill: var(--white_fill);
  path {
    fill: var(--white_fill);
  }
}
